*~
#*
*.out
*.lo
*.o
.my_history
1
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libtool
m4/
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/libsucheme.la
src/nul
src/stamp-h1
src/sucheme
test/.deps/
test/Makefile
test/Makefile.in
test/gtest/#gtest_main.cc#
test/nul
test/test-sucheme
